.mainContainer {
    display: flex;
    padding: 10px 20px 0px 10px;
    max-height: 100%;
    height: 90%;
    margin: 0px 10px 0px 0px;
}

.pageExtract {
    max-width: 60%;
    min-width: 60%;
    max-height: 90%;
    overflow: hidden;
    background-color: #ffffc0;
    min-height: 50%;
    margin-right: 20px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 20px;
}

.donegalButton,
.galwayButton,
.kerryButton,
.mayoButton,
.clareButton,
.corkButton,
.waterfordButton {
    padding: 10px;
    text-align: center;
}

.donegalButton {
    background-color: lightcoral;
}

.galwayButton {
    background-color: lightgreen;
}

.kerryButton {
    background-color: lightskyblue;
}

.mayoButton {
    background-color: greenyellow;
}

.clareButton {
    background-color: lightseagreen;
}

.corkButton {
    background-color: cornflowerblue;
}

.waterfordButton {
    background-color: violet;
}

.pointer,
.donegalMap,
.mayoMap,
.galwayMap,
.clareMap,
.kerryMap,
.corkMap,
.waterfordMap {
    cursor: pointer;
}

.donegalMap {
    fill: lightcoral;
}

.mayoMap {
    fill: greenyellow;
}

.galwayMap {
    fill: mediumseagreen;
}

.clareMap {
    fill: darkturquoise;
}

.kerryMap {
    fill: cyan;
}

.corkMap {
    fill: cornflowerblue;
}

.waterfordMap {
    fill: violet;
}

.rightAnswer,
.wrongAnswer,
.firstQuestion {
    font-size: 1.25em;
    font-weight: bold;
}

.rightAnswer {
    color: darkgreen;
}

.wrongAnswer {
    color: darkred;
}

.countiesImage {
    width: 300px;
}

.sidebar {
    min-width: 40%;
}

.answerTable td {
    padding: 10px;
    border: -5px;

}

.answerTable {
    width: 100%;
    font-size: 1.5em;
    margin: 0px;
}

.answerTable tr:nth-child(1) {
    background-color: lightgreen;
}

.answerTable tr:nth-child(2) {
    background-color: lightcoral;
}
.answerTable tr:nth-child(3) {
    background-color: lightgray;
    font-weight: bold;
}

.questionNumber {
    font-size: 2em;
    font-weight: bold;
}

.timerBar {
    width: 100%;
    display: flex;
    background-color: deepskyblue;
    border-radius: 0px;
}

.timerElapsed {
    background-color: dodgerblue;
    padding: 5px;
    font-weight: bold;
    border-radius: 0px;
}

.timerInterface {
    display: flex;
}

.timerInterface button {
    background-color: lightgray;
    border: 0px;
    padding: 10px;
}

/* Start page */

.startButtonsContainer {
    display: flex;
    font-size: 1em;
}

.startButton {
    width: 100%;
    height: 100%;
    padding: 20px;
    border: 0px;
    border-radius: 5px;
    margin: 10px;
    background-color: lightblue;
    font-size: 2em;
    display: flex;
}

.startButton:hover,
.restartButton:hover {
    background-color: skyblue;
}

.startPage {
    width: 100%;
}

.startPageTitle {
    font-size: 4em;
    text-align: center;
    width: 100%;
    margin: 10px;
}

.startPageSubtitle {
    font-size: 2em;
    text-align: center;
    width: 100%;
    margin: 10px;
}

.instructions {
    padding: 10px;
    font-size: 2em;
}

.startButtonImage {
    width: 200px;
}

.startButtonHeader {
    font-size: 2em;
    font-weight: bold;
}

/* Results page */

.resultsPage {
    width: 100%;
    text-align: center;
}

.restartButton {
    text-align: center;
    width: 20%;
    margin-left: 40%;
    margin-top: 10px;
    height: 10%;
    padding-top: 10px;
    border: 0px;
    border-radius: 5px;
    background-color: lightblue;
    font-size: 2em;
}

.countyResultsTable {
    margin-left: 30%;
    text-align: center;
    width: 40%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.countyResultsTable tr:nth-child(odd) {
    background-color: whitesmoke;
}