.mainContainer, .mainContainerSmall {
    padding: 10px 20px 0px 10px;
    max-height: 100%;
    height: 70%;
    margin: 0px 10px 0px 0px;
    background-color: white;
}

.mainContainer {
    display: flex;
}

.pageExtract {
    max-width: 90%;
    min-width: 60%;
    max-height: 80%;
    overflow: hidden;
    background-color: #d0ffff;
    min-height: 50%;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 20px;
    border: 0px;
    border-radius: 20px;
    font-size: 1.2em;
}

.donegalButton,
.galwayButton,
.kerryButton,
.mayoButton,
.clareButton,
.corkButton,
.waterfordButton {
    padding: 10px;
    text-align: center;
}

.donegalButton {
    background-color: lightcoral;
}

.galwayButton {
    background-color: lightgreen;
}

.kerryButton {
    background-color: lightskyblue;
}

.mayoButton {
    background-color: greenyellow;
}

.clareButton {
    background-color: lightseagreen;
}

.corkButton {
    background-color: cornflowerblue;
}

.waterfordButton {
    background-color: violet;
}

.pointer,
.pageHeader,
.startButton,
.donegalMap,
.galwayMap,
.kerryMap,
.waterfordMap {
    cursor: pointer;
    fill: #80ffff;
}

.mayoMap,
.clareMap,
.corkMap {
    cursor: pointer;
    fill: #00ced1;
}

/* 
.donegalMap {
    fill: lightcoral;
}

.mayoMap {
    fill: greenyellow;
}

.galwayMap {
    fill: mediumseagreen;
}

.clareMap {
    fill: darkturquoise;
}

.kerryMap {
    fill: cyan;
}

.corkMap {
    fill: cornflowerblue;
}

.waterfordMap {
    fill: violet;
} */

.rightAnswer,
.wrongAnswer,
.firstQuestion {
    font-size: 1.25em;
    font-weight: bold;
}

.rightAnswer {
    color: darkgreen;
}

.wrongAnswer {
    color: darkred;
}

.countiesImage {
    width: 300px;
}

.sidebar {
    min-width: 40%;
}

.answerTable td {
    padding: 15px;
    border: -5px;
}

.answerTable {
    width: 100%;
    font-size: 1.5em;
    margin: 0px;
    border-collapse: collapse;
}

.answerTable tr:nth-child(1) {
    /* background-color: lightgreen; */
    background-color: #80ffff;
}

.answerTable tr:nth-child(2) {
    /* background-color: lightcoral; */
    background-color: #70e0e0;
}

.answerTable tr:nth-child(3) {
    /* background-color: lightgray; */
    background-color: #80ffff;
    font-weight: bold;
}

.questionNumber {
    font-size: 2em;
    font-weight: bold;
}

.timerBar {
    width: 100%;
    display: flex;
    background-color: deepskyblue;
    border-radius: 0px;
}

.timerElapsed {
    background-color: dodgerblue;
    padding: 5px;
    font-weight: bold;
    border-radius: 0px;
}

.timerInterface {
    display: flex;
    border-radius: 20px;
    overflow: hidden;
}

.timerInterface button {
    background-color: #80f0f0;
    border: 0px;
    padding: 10px;
}

/* Start page */

.startButtonsContainer, .startButtonsContainerSmall {
    font-size: 1em;
}

.startButtonsContainer {
    display: flex;
}

.startButton {
    width: 50%;
    height: 100%;
    padding: 20px;
    border: 0px;
    border-radius: 5px;
    margin: 10px;
    background-color: #80f0f0;
    font-size: 2em;
    display: flex;
}

.startButton:hover,
.restartButton:hover {
    background-color: skyblue;
}

.startPage {
    width: 100%;
}

.startPageTitle {
    font-size: 4em;
    text-align: center;
    width: 100%;
    margin: 10px;
}

.startPageSubtitle {
    font-size: 2em;
    text-align: center;
    width: 100%;
    margin: 10px;
}

.instructions {
    padding: 10px;
    font-size: 2em;
}

.startButtonImage {
    width: 200px;
}

.startButtonHeader {
    font-size: 2em;
    font-weight: bold;
}

/* Results page */

.resultsPage {
    width: 100%;
    text-align: center;
}

.restartButton {
    text-align: center;
    width: 20%;
    margin-left: 40%;
    margin-top: 10px;
    height: 10%;
    padding-top: 10px;
    padding-bottom: 55px;
    border: 0px;
    border-radius: 5px;
    background-color: #80f0f0;
    font-size: 2em;
}

.countyResultsTable {
    margin-left: 30%;
    text-align: center;
    width: 40%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-collapse: collapse;
}

.countyResultsTable tr:nth-child(even) {
    background-color: #70e0e0;
}

.countyResultsTable tr:nth-child(odd) {
    background-color: #80ffff;
}

.tableRow {
    display: flex;
}

.tableHeader {
    display: flex;
    padding: 0px 10px 0px 0px;
}

.pageHeader {
    font-family: Arial;
    font-size: 2em;
    margin: 20px 50px;
    color: #000000;
    font-weight: normal;
    width: 80%;
}

.svgAndAnswerCount {
    display: flex;
}

.headerBar {
    width: 100%;
    margin: 0px;
    display: flex;
}

.languageSelector {
    padding-left: 10px;
    padding-top: 10px;
}
.languageSelector select {
    border-width: 1px;
    height: 100%;
}